@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* SHER STYLE HERE START */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

#gradient {
    background: linear-gradient(180deg, rgba(249, 72, 178, 1), rgba(135, 88, 241, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* SHER STYLE END */

/* header style start here  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 120px;
}

.gamer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.gamer img {
    width: 85px;
    height: 40px;
}

.gamer h1 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}

.title {
    color: rgba(255, 20, 145, 0.856);
}

.continer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    gap: 30px;

}

.continer a {
    color: #3C354F;
    text-decoration: none;
}

.button {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 10px;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;


}

.button img {
    width: 1.9rem;
    height: 1.8rem;

}

/* banner style start here */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5bb;


}

.banner-content>img {
    height: 100%;
    width: 100%;
}

.banner-content {
    background-image: url("../images/Group14.png");
    width: 50%;
}

.banner-title {
    padding-left: 120px;

}

.banner-content h3 {
    color: rgba(11, 2, 35, 1);
    font-size: 1.8rem;
    font-weight: 600;
}

.banner-content h1 {
    color: rgb(233, 97, 210);
    font-size: 3.4rem;
    font-weight: 800px;
    padding-bottom: 14px;
}

.description-title {
    padding: 10px 0px;
}

/* button */
.btn-primary {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 50px;
    background-color: #f515eacc;


}

#btn-go {
    background-color: rgb(78, 197, 247);
}

.banner-description {
    color: rgba(83, 76, 100, 1);
}

.ancour-bnt {
    display: inline-flex;
    gap: 30px;
    margin-top: 40px;
}

.banner-images {
    width: 90%;
}

.banner-images img {
    width: 60%;
    height: 50%;
    margin-left: 150px;

}

/* Online Games Funny Videos style start  */
.online-container {
    text-align: center;
    margin-top: 80px;
}

.online-title h3 {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.online-title p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.online-play-container {
    display: flex;
    gap: 20px;
    margin: 40px 120px 60px 120px;

}

.online-play-container img {
    width: 250px;
    height: 300px;
    border-radius: 10px;

}

.online-play-images {
    position: relative;
}

.online-play-images img {
    display: block;
}

.play-btn {
    position: absolute;
    color: #FFF;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.2s;

}

.play-btn:hover {
    opacity: 1;
}

.play-btn img {
    width: 40px;
    height: 40px;
}

#paly-description {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}


.online-play-container p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-top: 20px;
}

/* Play Games Online Anywhere style start here  */
.play-container {
    display: flex;
    gap: 120px;
    align-items: center;
    margin: 80px 120px 150px 120px;
}

.game-images {
    background-color: #FFF;
    position: relative;

}

.game-image-pro {
    width: 380px;
    height: 350px;
}

.game-image-cat {
    width: 150px;
    height: 170px;
    position: absolute;
    left: 280px;
    top: 240px;
}

.play-contain h1 {
    color: #0B0223;
    font-size: 2.4rem;
    font-weight: 800px;
}

.play-contain,
.play-title,
.text-gredien {
    color: rgb(241, 97, 186);

}

.play-contain p {
    color: #534C64;
    padding-top: 24px;
    font-size: 18px;
    font-weight: 400;
}

/* gamer text icon style start  */
.gamer-text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: rgba(253, 233, 255, 0.514);
    padding: 70px 60px;
}

.gamer-text-title {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #FFF;
    border-radius: 40px;
    padding: 8px;
}

.gamer-text-title:hover {
    border: 1px solid deeppink;
    cursor: pointer;
}

.gamer-text-title p:hover {
    color: deeppink;
}

.gamer-text-title img {
    width: 40px;
    height: 40px;
}

.gamer-text-title p {
    color: #0B0223;
    font-size: 17px;
    font-weight: 600;
}

/* footer style start here  */
footer {
    background-color: rgba(11, 2, 35, 1);
}

#footer-title {
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

#footer-title h1 {
    color: #FFF;
}

.footer-description,
.footer-privacy {
    display: flex;
    color: #ffffff;
    justify-content: center;
    gap: 50px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 42px;
}

.footer-privacy p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 500;
}

.footer-privacy {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 500;
}

.footer-copy-right {
    color: rgba(255, 255, 255, 0.562);
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 100px;
}

.footer-icon {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;

}

.footer-icon img {
    width: 30px;
    height: 30px;
}

/* media  quary style for mobail  */
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        gap: 55px;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 0px;
        margin: 0px;
    }

    .banner-title,
    .play-container {
        padding: 2px;
        margin: 0;
        text-align: center;
    }

    .banner-images img {
        width: 100%;
        padding: 0;
        margin: 30px 5px;
        display: flex;
        justify-content: center;
    }

    .continer {
        flex-direction: column;
    }

    .online-play-container {
        display: grid;
        width: 200px;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;


    }

    .play-container {
        flex-direction: column-reverse;
    }

    .game-image-pro {
        width: 300px;
        height: 280px;
    }

    .game-image-cat {
        width: 100px;
        height: 120px;
        top: 200px;
        left: 240px;
    }

    .play-contain {
        display: inline;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .online-title p {
        text-align: center;
        padding: 2px 5px;
    }

    .gamer-text-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        margin-top: 60px;
        gap: 5px;
        text-align: center;
        margin: 60px 5px 50xp 5px;
    }

    .footer-description,
    .footer-icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        margin: 30px 15px;
        gap: 15px;
    }

    .footer-privacy {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        margin: 30px 15px;
        gap: 15px;
    }

    .footer-copy-right {
        margin: 20px 100px;
        text-align: center;
    }

}

/* media quary for tablet  */
@media screen and (min-width:576px) and (max-width:768px) {

    header,
    .online-container,
    .play-container,
    .gamer-text-container,
    footer {
        margin: 0px;
        margin-bottom: 80px;
        padding: 0px;
        width: 200%;
    }

    .game-images {
        margin-left: 100px;
    }

    .play-contain {
        margin-right: 100px;
    }
}